# May I Stats

In [11]:
import pandas as pd

data = pd.read_csv("mayIPlayerStats.csv")
data

,Player Name,Wins,Final Score List,Games Played,Average Score,Winning Average
0,Lisa,9,"[444.0, 62.0, 29.0, 337.0, 145.0, 46.0, 151.0,...",NaN,NaN,NaN
1,Norma,4,"[330.0, 215.0, 83.0, 575.0, 234.0, 399.0, 315....",NaN,NaN,NaN
2,Dustin,9,"[193.0, 229.0, 69.0, 184.0, 306.0, 413.0, 230....",NaN,NaN,NaN
3,James,0,[],NaN,NaN,NaN
4,Carli,0,[],NaN,NaN,NaN
5,Kathy,0,[],NaN,NaN,NaN

In [13]:
data['Wins'].value_counts()

Wins
0    3
9    2
4    1
Name: count, dtype: int64

In [14]:
data['Wins'].describe()

count    6.000000
mean     3.666667
std      4.412105
min      0.000000
25%      0.000000
50%      2.000000
75%      7.750000
max      9.000000
Name: Wins, dtype: float64

In [15]:
data['Final Score List'].describe()

count      6
unique     4
top       []
freq       3
Name: Final Score List, dtype: object

In [16]:
data['Final Score List'].value_counts()

Final Score List
[]                                                                                                                                                    3
[444.0, 62.0, 29.0, 337.0, 145.0, 46.0, 151.0, 182.0, 43.0, 485.0, 258.0, 67.0, 231.0, 234.0, 204.0, 174.0, 217.0, 46.0, 45.0, 340.0, 237, 217]       1
[330.0, 215.0, 83.0, 575.0, 234.0, 399.0, 315.0, 16.0, 19.0, 138.0, 180.0, 454.0, 77.0, 394.0, 732.0, 119.0, 45.0, 239.0, 702.0, 212.0, 501, 337]     1
[193.0, 229.0, 69.0, 184.0, 306.0, 413.0, 230.0, 29.0, 203.0, 197.0, 119.0, 335.0, 131.0, 198.0, 74.0, 113.0, 40.0, 149.0, 214.0, 140.0, 540, 128]    1
Name: count, dtype: int64