# May I Stats

In [7]:
import pandas as pd
import numpy as np

data = pd.read_csv("mayIPlayerStats.csv")
data

,Player Name,Score,Wins,Final Score List,Games Played,Average Score,Winning Average
0,Lisa,0,9,"[444.0, 62.0, 29.0, 337.0, 145.0, 46.0, 151.0,...",NaN,NaN,NaN
1,Norma,0,4,"[330.0, 215.0, 83.0, 575.0, 234.0, 399.0, 315....",NaN,NaN,NaN
2,Dustin,0,9,"[193.0, 229.0, 69.0, 184.0, 306.0, 413.0, 230....",NaN,NaN,NaN
3,James,0,0,[],NaN,NaN,NaN
4,Carli,0,0,[],NaN,NaN,NaN
5,Kathy,0,0,[],NaN,NaN,NaN