# May I Stats

In [1]:
import pandas as pd

data = pd.read_csv("mayIPlayerStats.csv")
data

,Player Name,Wins,Final Score List,Games Played,Average Score,Winning Average
0,Lisa,9,"[444.0, 62.0, 29.0, 337.0, 145.0, 46.0, 151.0,...",22,190.6,0.409
1,Norma,5,"[330.0, 215.0, 83.0, 575.0, 234.0, 399.0, 315....",22,287.1,0.182
2,Dustin,9,"[193.0, 229.0, 69.0, 184.0, 306.0, 413.0, 230....",22,192.5,0.409
3,James,0,[],0,0.0,0.000
4,Carli,0,[],0,0.0,0.000
5,Kathy,0,[],0,0.0,0.000

In [5]:
data['Average Score'].value_counts()

Average Score
0.0      3
190.6    1
287.1    1
192.5    1
Name: count, dtype: int64

In [6]:
data['Average Score'].describe()

count      6.000000
mean     111.700000
std      127.239679
min        0.000000
25%        0.000000
50%       95.300000
75%      192.025000
max      287.100000
Name: Average Score, dtype: float64

In [8]:
data['Winning Average'].describe()

count    6.000000
mean     0.166667
std      0.200509
min      0.000000
25%      0.000000
50%      0.091000
75%      0.352250
max      0.409000
Name: Winning Average, dtype: float64

In [9]:
data['Winning Average'].value_counts()

Winning Average
0.000    3
0.409    2
0.182    1
Name: count, dtype: int64